// color
$back-color:#293539;
$light-back-color:#F5F7F9;
$line-color: #f1f2f7;
$disabled-back: #E1E5E6;
$active-color:#A67244;
$light-active-color:#C9AA8F;
$text-color:#293539;
$sub-color:#6A7275;
$price-color:#942128;
$light-price-color:#CA878C;
// font
$main-size: 32upx;
$_main-size:30upx;
$sub-size: 28upx;
$num-size: 44upx;
$big-size: 48upx;
$main-title-size: 40upx;
$mini-size: 22upx;
$topic-size: 34upx;